<!DOCTYPE html>
{% load static %} 

<html>
    
<meta charset="utf-8">
<head>   
  
<title>
        {% block title %}
          {% if page_title %}
            {{ page_title }}
          {% else %}
            HAI Pump Finder - Find some HAI Pumps near you.
          {% endif %}
          
        {% endblock %}
</title>
<meta name="description" content="Find a Cancer Clinic or Hospital offering the HAI PUMP near you. Get directions, meet others trying the HAI Pump by joining Colontown." />
<meta property="og:title" content="Locations | HAI Pump Clinics" />
<meta property="og:description" content="Find a Cancer Clinic or Hospital offering the HAI PUMP near you. Get directions, meet others trying the HAI Pump by joining Colontown." />

<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="{% static '/haipumpfinder/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static '/haipumpfinder/sticky-footer.css' %}" />
<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

{{ form.media }}

<link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}" />

</head>
<body>
    {% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/haipumpfinder">Magnesium & Scorn</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'haipumpfinder:index' %}">HAI Pump Clinics<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="/haipumpfinder/what-the-hai">What's a HAI Pump?</a>
                  </li>
             <li class="nav-item">
                <a class="nav-link" target="_new" href="https://clinicaltrials.gov/ct2/show/NCT03366155">Join the Clinical Trial</a>
              </li>
              
          </ul>
          {% if user.is_authenticated %}
          <div class="collapse navbar-collapse" id="mainMenu">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{ user.username }}
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
                  <a class="dropdown-item" href="/haipumpfinder/profile">My Profile</a>
                  <a class="dropdown-item" href="/haipumpfinder/accounts/password_change">Change password</a>
                  <a class="dropdown-item" href="/trialfinder">My Trials</a>
                 
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/haipumpfinder/accounts/logout">Log out</a>
                </div>
              </li>
            </ul>
          </div>

            {% else %}
          <div class="form-inline my-2 my-lg-0">
              <button  onclick="goto_signup()" class="btn btn-outline-primary my-2 my-sm-0" type="submit">Sign Up</button>
              &nbsp;
              <button   onclick="goto_login()" class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
          </div>
          {% endif %}
         
        
        </div>
      </nav>
      <script>
          function goto_signup()
          {
               location.href = "/haipumpfinder/signup";
          } 
          function goto_login()
          {
               location.href = "/haipumpfinder/accounts/login";
          } 
          </script>
      {% endblock navbar %}

    
    {% block content %}{% endblock content %}


<footer class="footer">
<div class="container">
<span class="text-muted">Complaints? Better ideas? Don't hesitate! <a href="mailto:mike@radiantdays.com">mike@radiantdays.com</a></span>
</div>
</footer> 
</body>
</html>