<!DOCTYPE html>
{% load static %} 

<html>
    
<meta charset="utf-8">
<head>   
  
<title>
        {% block title %}
          {% if page_title %}
            {{ page_title }}
          {% else %}
            HAI Pump Finder - Find some HAI Pumps near you.
          {% endif %}
          
        {% endblock %}
</title>
<meta name="description" content="Find a Cancer Clinic or Hospital offering the HAI PUMP near you. Get directions, meet others trying the HAI Pump by joining Colontown." />
<meta property="og:title" content="Locations | HAI Pump Clinics" />
<meta property="og:description" content="Find a Cancer Clinic or Hospital offering the HAI PUMP near you. Get directions, meet others trying the HAI Pump by joining Colontown." />


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="{% static '/haipumpfinder/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static '/haipumpfinder/sticky-footer.css' %}" />
<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>
<body>
    {% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/haipumpfinder">HAI Pump Finder</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/haipumpfinder">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="/haipumpfinder/what-the-hai">What is the HAI Pump?</a>
                  </li>
            <li class="nav-item">
              <a class="nav-link" href="../haipumpfinder/hai-in-the-news">In the News</a>
            </li>
             <li class="nav-item">
                <a class="nav-link" target="_new" href="https://clinicaltrials.gov/ct2/show/NCT03366155">Join the HAI Pump Clinical Trial</a>
              </li>
              
          </ul>
           
        </div>
      </nav>
      {% endblock navbar %}

    
    {% block content %}{% endblock content %}


<footer class="footer">
<div class="container">
<span class="text-muted">Complaints? Better ideas? Don't hesitate! <a href="mailto:mike@radiantdays.com">mike@radiantdays.com</a></span>
</div>
</footer> 
</body>
</html>