<!DOCTYPE html>
{% extends 'haipumpfinder/base.html' %}
{% load static %}

{% block content %}
 
<div class="container">
    <p></p>
  <h2> Welcome {{ user.username }} !</h2>
  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
  <form method="post">
    {% csrf_token %}
    {{ user_form.as_p }}
    {{ user_form.as_p.errors }}
    {{ patient_form.as_p }}
    {{ patient_form.as_p.errors }}
    <button type="submit">Update Profile</button>
  </form>
</div>
   

 {% include "haipumpfinder/treatmentslist.html" %}
 {% endblock %}