<!DOCTYPE html>
{% extends 'haipumpfinder/base.html' %}
{% load static %}
{% block content %}
<div class="container">
        <h1>Join Magnesium & Scorn</h1>
        <p class="lead">A new way to find help.</p>

        <!-- Show steps if user is creating an organiation -->
        <div class="row">
                <div class="col-sm"><svg height="32" class="octicon octicon-person" viewBox="0 0 12 16" version="1.1" width="24" aria-hidden="true"><path fill-rule="evenodd" d="M12 14.002a.998.998 0 0 1-.998.998H1.001A1 1 0 0 1 0 13.999V13c0-2.633 4-4 4-4s.229-.409 0-1c-.841-.62-.944-1.59-1-4 .173-2.413 1.867-3 3-3s2.827.586 3 3c-.056 2.41-.159 3.38-1 4-.229.59 0 1 0 1s4 1.367 4 4v1.002z"/></svg>
                    <strong class="step">Step 1:</strong>
                    Create personal account</div>
              
                <div class="col-sm">   <svg height="32" class="octicon octicon-heart" viewBox="0 0 14 16" version="1.1" width="28" aria-hidden="true"><path fill-rule="evenodd" d="M14 8.77v-1.6l-1.94-.64-.45-1.09.88-1.84-1.13-1.13-1.81.91-1.09-.45-.69-1.92h-1.6l-.63 1.94-1.11.45-1.84-.88-1.13 1.13.91 1.81-.45 1.09L0 7.23v1.59l1.94.64.45 1.09-.88 1.84 1.13 1.13 1.81-.91 1.09.45.69 1.92h1.59l.63-1.94 1.11-.45 1.84.88 1.13-1.13-.92-1.81.47-1.09L14 8.75v.02zM7 11c-1.66 0-3-1.34-3-3s1.34-3 3-3 3 1.34 3 3-1.34 3-3 3z"/></svg>
                    <strong class="step">Step 2:</strong>
                    Create your disease & treament profile</div>
               </div>
           
    </div>

 
<div class="container">
    <p></p>
  <h2>Create your personal account</h2>
  <p></p>

  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p> 
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <div class="btn-group" role="group">
        <button type="submit" class="btn btn-success">Create an Account</button>
  
</div>
  </form>
  </div>
  <div class="container">
        <p></p>
        <p></p><p></p><p></p>
        <!-- Show steps if user is creating an organiation -->
        <div class="row">
                <div class="col-sm" style=" border: 1px solid; width:200px;" >
                    Already have an account? <a href="{% url 'haipumpfinder:login' %}">login</a>
                </div>
           
    </div>
</div>
{% endblock %}