<!DOCTYPE html>
{% extends 'haipumpfinder/base.html' %}
{% load static %}

{% block content %}
 
<div class="container">
    <p></p>
 
{% if messages %}
<ul class="messages">
  {% for message in messages %}
    <li class="{{ message.tags }}">{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}
<form method="post">
  {% csrf_token %} 
  {{ treatment_form.as_p }}
  {{ treatment_form.as_p.errors }}  
  <button type="submit">Add Treatment</button>
</form>
</div>
{% include "haipumpfinder/treatmentslist.html" %}
{% endblock %}