{% extends 'haipumpfinder/base.html' %}
{% load static %}

{% block content %}
<div class="container">
<br/>
<br/>
  <h3>What is the HAI Pump?</h3> 
<p>
HAI is an acronym for <a href="https://www.mskcc.org/videos/treating-liver-metastases-hepatic-arterial-infusion-therapy" target="_new" title="HAI- Hepatic Arterial Infusion Therapy">  Hepatic Arterial Infusion</a>, a term used to describe targeted liver chemo treatment. The pump is surgically implanted in the patient and uses the patient's own body tempature to deliver targeted chemotherapy directly to the liver. Additionally, the pump can release higher dosages of chemo over the course of two weeks, rather than or in addition to full-body (i.e. systemic) chemotherapy. Since the chemo is released directly to the liver, there are little to no side effects. Unfortunately, the treatment is associated with higher risks of liver and bile duct damage; as a result monitoring a patients blood work throughout the treatment is essential.</p>  
<h3>What's the logic behind using a HAI Pump?</h3> 
<p>In Dr. Nancy Kemeny's words, "It's not rocket science." With aproximately 60% of Stage 4 colon cancer patients, the liver is the first site of metastises, which means if you can control the liver cancer, you have a better chance of controlling the spread of the disease.   
</P>
<h3>Is it experimental? Why isn't it more widely used?</h3> 
<p> The pump itself is actually a <a href="http://www.codmanpumps.com/Products_pumps_overview.asp" target="_new" title="Codman Pump">Codman Pump</a> which is not a new technology. The pump was originally developed in the 1960's to help target pain in early hip and joint implant patients. The use of it to treat liver metastises in colon cancer was pioneered by Nancy Kemeny and her team at Sloan Kettering in the 1980's. After decades of working with the pump, she has achieved 5-year surival rates with her Stage 4 patients of 78%. This is dramatically higher than the 11% rates found by the <a href="https://www.cancer.org/cancer/colon-rectal-cancer/detection-diagnosis-staging/survival-rates.html" title="American Cancer Society" target="_new"> American Cancer Society.</a>  </p>


</div>

{% endblock %}