#map-canvas {
        width: 100%;
        height: 800px;
    } 
    
             
.table tr button { opacity:0; float:right }
.table tr:hover button { opacity:1 }

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
  }
  .trialcontainer {
    width: auto; 
    padding: 0 555px;
  }
   